<!--Start Courses Area Section-->
<section class="Courses-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-header-box">
                <div class="section-header">
                    <h2>JOIN US NOW</h2>
                </div><!-- ends: .section-header -->
            </div>
        </div>
        <div class="row courses-r-margin-bottom">
            <div class="col-sm-4 single-courses-box">
                <div class="single-courses">
                    <figure>
                        <div class="figure-img"><img src="../Assets/images/index/courses-01.jpg" alt="" class="img-responsive"></div>
                        <figcaption>
                            <div><a href="#" class="read_more-btn">read more</a></div>
                        </figcaption>
                    </figure>
                    <div class="courses-content-box">
                        <div class="courses-content">
                            <h3 ><a href="/Sections/Kindergarten">kindergarten</a></h3>
                            <ul class="list-unstyled"></ul>
                        </div>
                        <div class="courses-content-bottom">
                            <ul class="list-unstyled"></ul>
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->

            <div class="col-sm-4 single-courses-box">
                <div class="single-courses">
                    <figure>
                        <div class="figure-img"><img src="../Assets/images/index/courses-02.jpg" alt="" class="img-responsive"></div>
                        <figcaption>
                            <div><a href="/Sections/Primary" class="read_more-btn">read more</a></div>
                        </figcaption>
                    </figure>
                    <div class="courses-content-box">
                        <div class="courses-content">
                            <h3><a href="#">primary</a></h3>
                            <ul class="list-unstyled"></ul>
                        </div>
                        <div class="courses-content-bottom">
                            <ul class="list-unstyled"></ul>
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->
            <div class="col-sm-4 single-courses-box">
                <div class="single-courses">
                    <figure>
                        <div class="figure-img"><img src="../Assets/images/index/courses-03.jpg" alt="" class="img-responsive"></div>
                        <figcaption>
                            <div><a href="#" class="read_more-btn">read more</a></div>
                        </figcaption>
                    </figure>
                    <div class="courses-content-box">
                        <div class="courses-content">
                            <h3><a href="/Sections/Secondary">secondary</a></h3>
                            <ul class="list-unstyled"></ul>
                        </div>
                        <div class="courses-content-bottom">
                            <ul class="list-unstyled"></ul>
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->
        </div><!--End .row-->
    </div>
</section><!-- Ends: . -->
<!-- ./ End Courses Area section -->
