<!--Start Courses Area Section-->
<section class="Courses-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-header-box">
                <div class="section-header">
                    <h2>Popular Courses</h2>
                </div><!-- ends: .section-header -->
            </div>
        </div>
        <div class="row courses-r-margin-bottom">
            <div class="col-sm-4 single-courses-box">
                <div class="single-courses">
                    <figure>
                        <div class="figure-img"><img src="../Assets/images/index/courses-01.jpg" alt="" class="img-responsive"></div>
                        <figcaption>
                            <div><a href="#" class="read_more-btn">read more</a></div>
                        </figcaption>
                    </figure>
                    <div class="courses-content-box">
                        <div class="courses-content">
                            <h3><a href="#">WordPress: Creating Custom Plugins with PHP</a></h3>
                            <ul class="list-unstyled">
                                <li><img src="../Assets/images/index/teachar-s-01.jpg" alt="" class="img-circle"></li>
                                <li>By: <span>Michael Smith</span></li>
                            </ul>
                        </div>
                        <div class="courses-content-bottom">
                            <ul class="list-unstyled">
                                <li><span>$90</span></li>
                                <li><i class="fa fa-user"></i> 80</li>
                                <li><i class="fa fa-comment"></i> 35</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->

            <div class="col-sm-4 single-courses-box">
                <div class="single-courses">
                    <figure>
                        <div class="figure-img"><img src="../Assets/images/index/courses-02.jpg" alt="" class="img-responsive"></div>
                        <figcaption>
                            <div><a href="#" class="read_more-btn">read more</a></div>
                        </figcaption>
                    </figure>
                    <div class="courses-content-box">
                        <div class="courses-content">
                            <h3><a href="#">Learning jQuery Mobile for Beginners</a></h3>
                            <ul class="list-unstyled">
                                <li><img src="../Assets/images/index/teachar-s-02.jpg" alt="" class="img-circle"></li>
                                <li>By: <span>David martin</span></li>
                            </ul>
                        </div>
                        <div class="courses-content-bottom">
                            <ul class="list-unstyled">
                                <li><span>Free</span></li>
                                <li><i class="fa fa-user"></i> 80</li>
                                <li><i class="fa fa-comment"></i> 35</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->
            <div class="col-sm-4 single-courses-box">
                <div class="single-courses">
                    <figure>
                        <div class="figure-img"><img src="../Assets/images/index/courses-03.jpg" alt="" class="img-responsive"></div>
                        <figcaption>
                            <div><a href="#" class="read_more-btn">read more</a></div>
                        </figcaption>
                    </figure>
                    <div class="courses-content-box">
                        <div class="courses-content">
                            <h3><a href="#">Photography for Beginners Masterclass</a></h3>
                            <ul class="list-unstyled">
                                <li><img src="../Assets/images/index/teachar-s-03.jpg" alt="" class="img-circle"></li>
                                <li>By: <span>Willian Kane</span></li>
                            </ul>
                        </div>
                        <div class="courses-content-bottom">
                            <ul class="list-unstyled">
                                <li><span>$90</span></li>
                                <li><i class="fa fa-user"></i> 80</li>
                                <li><i class="fa fa-comment"></i> 35</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->
        </div><!--End .row-->
        <div class="row courses-r-margin-bottom">
            <div class="col-sm-4 single-courses-box">
                <div class="single-courses">
                    <figure>
                        <div class="figure-img"><img src="../Assets/images/index/courses-04.jpg" alt="" class="img-responsive"></div>
                        <figcaption>
                            <div><a href="#" class="read_more-btn">read more</a></div>
                        </figcaption>
                    </figure>
                    <div class="courses-content-box">
                        <div class="courses-content">
                            <h3><a href="#">Microsoft Excel 2016 Advan- ced Training</a></h3>
                            <ul class="list-unstyled">
                                <li><img src="../Assets/images/index/teachar-s-04.jpg" alt="" class="img-circle"></li>
                                <li>By: <span>Jhonthan Smith</span></li>
                            </ul>
                        </div>
                        <div class="courses-content-bottom">
                            <ul class="list-unstyled">
                                <li><span>Free</span></li>
                                <li><i class="fa fa-user"></i> 80</li>
                                <li><i class="fa fa-comment"></i> 35</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->
            <div class="col-sm-4 single-courses-box">
                <div class="single-courses">
                    <figure>
                        <div class="figure-img"><img src="../Assets/images/index/courses-05.jpg" alt="" class="img-responsive"></div>
                        <figcaption>
                            <div><a href="#" class="read_more-btn">read more</a></div>
                        </figcaption>
                    </figure>
                    <div class="courses-content-box">
                        <div class="courses-content">
                            <h3><a href="#">Android App Development Essentials</a></h3>
                            <ul class="list-unstyled">
                                <li><img src="../Assets/images/index/teachar-s-05.jpg" alt="" class="img-circle"></li>
                                <li>By: <span>John Doe</span></li>
                            </ul>
                        </div>
                        <div class="courses-content-bottom">
                            <ul class="list-unstyled">
                                <li><span>$90</span></li>
                                <li><i class="fa fa-user"></i> 80</li>
                                <li><i class="fa fa-comment"></i> 35</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->
            <div class="col-sm-4 single-courses-box">
                <div class="single-courses">
                    <figure>
                        <div class="figure-img"><img src="../Assets/images/index/courses-02.jpg" alt="" class="img-responsive"></div>
                        <figcaption>
                            <div><a href="#" class="read_more-btn">read more</a></div>
                        </figcaption>
                    </figure>
                    <div class="courses-content-box">
                        <div class="courses-content">
                            <h3><a href="#">Your Complete Guide to Photography</a></h3>
                            <ul class="list-unstyled">
                                <li><img src="../Assets/images/index/teachar-s-06.jpg" alt="" class="img-circle"></li>
                                <li>By: <span>Taylor Butler</span></li>
                            </ul>
                        </div>
                        <div class="courses-content-bottom">
                            <ul class="list-unstyled">
                                <li><span>$90</span></li>
                                <li><i class="fa fa-user"></i> 80</li>
                                <li><i class="fa fa-comment"></i> 35</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- Ends: .single courses -->
            </div><!-- Ends: . -->
        </div>
    </div>
</section><!-- Ends: . -->
<!-- ./ End Courses Area section -->
