
@{
    ViewBag.Title = "Admissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "event-01";
    ViewBag.BannerText = "Admissions";
}

<section class="events-grid-3">
    <div class="container">
        <div class="row event-body-content">
            <div class="col-sm-4  single-item">
                <div class="events-single-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="../Assets/images/admissions/visit.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="col-sm-12">
                            <div class="event-info">
                                <h3>Arrange a visit</h3>

                                <p>Lorem ipsum dolor sit amet mollis felis dapibs arcur donec viverra phasellus eget. Etiam ma ecenas vel vici quis dictum.</p>

                                <a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 single-item">
                <div class="events-single-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="../Assets/images/admissions/dates.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="col-sm-12">
                            <div class="event-info">
                                <h3>Term dates</h3>
                                

                                <p>Lorem ipsum dolor sit amet mollis felis dapibs arcur donec viverra phasellus eget. Etiam ma ecenas vel vici quis dictum.</p>

                                <a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 single-item">
                <div class="events-single-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="../Assets/images/admissions/guide.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="col-sm-12">
                            <div class="event-info">
                                <h3>Year group guide</h3>
                                

                                <p>Lorem ipsum dolor sit amet mollis felis dapibs arcur donec viverra phasellus eget. Etiam ma ecenas vel vici quis dictum.</p>

                                <a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row event-body-content">
            <div class="col-sm-4 single-item">
                <div class="events-single-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="../Assets/images/admissions/uniform.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="col-sm-12">
                            <div class="event-info">
                                <h3>Uniform</h3>
                              

                                <p>Lorem ipsum dolor sit amet mollis felis dapibs arcur donec viverra phasellus eget. Etiam ma ecenas vel vici quis dictum.</p>

                                <a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 single-item">
                <div class="events-single-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="../Assets/images/admissions/srilanka.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="col-sm-12">
                            <div class="event-info">
                                <h3>Moving to srilanka</h3>
                               

                                <p>Lorem ipsum dolor sit amet mollis felis dapibs arcur donec viverra phasellus eget. Etiam ma ecenas vel vici quis dictum.</p>

                                <a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 single-item">
                <div class="events-single-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="../Assets/images/admissions/admissions.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="col-sm-12">
                            <div class="event-info">
                                <h3>Admissions</h3>
                               

                                <p>Lorem ipsum dolor sit amet mollis felis dapibs arcur donec viverra phasellus eget. Etiam ma ecenas vel vici quis dictum.</p>

                                <a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

