@model string[]
@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "gallery";
    ViewBag.BannerText = "Gallery";
}

<ul class="album">
    @foreach (var path in Model)
    {
        <li class="galleryItem">
            <a class="caption" href="#1" data-title="colored landscape">
                <img src="@path" alt="Landscape image">
            </a>
        </li>
    }
</ul>

