@model string[]
@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "gallery";
    ViewBag.BannerText = "Gallery";
}

<ul class="album">
    <li class="galleryItem">
        <a class="caption" href="#1" data-title="colored landscape">
            <img src="http://media.digitalcameraworld.com/files/2012/10/Vertorama_landscape_photography_tips_PHO17.insight02and03.vertorama.jpg" alt="Landscape image">
        </a>
    </li>
</ul>

