@model string[]
@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "gallery";
    ViewBag.BannerText = "Gallery";
    int counter = 0;
}

<ul class="album">
    @foreach (var path in Model)
    {
        <li class="galleryItem">
            <a href="#@(++counter)" data-title="colored landscape">
                <img src="@path" alt="Landscape image">
                <div class="text"><i class="fa fa-search-plus"></i></div>
            </a>
        </li>
    }
</ul>

@{
    counter = 0;
}
@foreach (var path in Model)
{
    <div class="lightbox" id="@(++counter)">
        <div class="image">
            <img src="@path">
            <a href="#@(counter-1)" class="prev"></a>
            <a href="#" class="close"></a>
            <a href="#@(counter+1)" class="next"></a>
        </div>
    </div>
}

