
@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "become_teachers";
    ViewBag.BannerText = "Careers";
}

<!-- Teachers Area section -->
<section class="become-teachers-01">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center become-title">
				<h2>APPLY AS INSTRUCTOR</h2>
				<p>Lorem ipsum dolor sit amet, consectetur</p>
				<span class="line"></span>
			</div>
			<div class="col-sm-8 col-sm-offset-2 text-center become-title-text">
				<p>We are Educatios, creat your passion and inspiration. And hope success will come for your dream. Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news</p>
			</div>
		</div>		
		<div class="row">
			<div class="col-sm-12">
				<img src="../Assets/images/careers/become-teacher.jpg" alt="" class="img-responsive">
			</div>												
		</div>
		<div class="row">
			<div class="col-sm-12 text-center become-title become-teacher-title">
				<h2>HOW TO BECOME A TEACHER</h2>
				<p>Lorem ipsum dolor sit amet, consectetur</p>
				<span class="line"></span>
			</div>
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-5">
						<div class="contact-form text-center">
							<h3>This is how you can join our pool</h3>
 							@*<form>
	                            <div class="row">
	                                <div class="col-sm-12">
	                                    <div class="form-group">
	                                        <input type="text" class="form-control"  placeholder="Your Name">
	                                    </div>
	                                </div>
	                                <div class="col-sm-12">
	                                    <div class="form-group">
	                                        <input type="email" class="form-control"  placeholder="Your E-mail">
	                                    </div>
	                                </div>
	                                <div class="col-sm-12">
	                                    <div class="form-group">
	                                        <input type="text" class="form-control"   placeholder="Your Phone Number">
	                                    </div>
	                                </div>		
	                                <div class="col-sm-12">                                    
	                                    <div class="full-width submit-btn">
	                                        <input value="Submit"  type="submit">
	                                    </div>
	                                </div>	
	                            </div>
	                        </form>*@
                            <ul class="become-teacher">
                                <li>looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </li>
                                <li> of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </li>
                                <li>yout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </li>
                                <li> looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </li>
                                <li>and send ua cv to careers@readwayinternational.com</li>
                            </ul>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="tab-wapper">
							<ul class="nav nav-tabs">
							  	<li  class="active"><a href="#become_a_teacher"  data-toggle="tab"><i class="fa fa-user-plus"></i>Become an Teacher</a></li>
							  	<li ><a href="#roles" data-toggle="tab"><i class="fa fa-list-ol"></i>Teacher Roles</a></li>
							  	<li ><a href="#courses"  data-toggle="tab"><i class="fa fa-book"></i>Start with Courses</a></li>
							</ul>

							<div class="tab-content">
							  	<div class="tab-pane fade in active" id="become_a_teacher">
							  		<p>We are Educatios, creat your passion and inspiration. And hope success will come for your dream.  Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news</p>

							  		<p>We are Educatios, creat your passion and inspiration. And hope success will come for your dream. Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news</p>
							  	</div>
							  	<div class="tab-pane fade" id="roles">
							  		<p>We are Educatios, creat your passion and inspiration. And hope success will come for your dream.  Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news</p>

							  		<p>We are Educatios, creat your passion and inspiration. And hope success will come for your dream. Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news</p>
							  	</div>
							  	<div class="tab-pane fade" id="courses">
							  		<p>We are Educatios, creat your passion and inspiration. And hope success will come for your dream.  Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news</p>

							  		<p>We are Educatios, creat your passion and inspiration. And hope success will come for your dream. Please send email and get latest news. And hope success will come for your dream. Please send email and get latest news</p>
							  	</div>
							</div>
  						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ End Teachers Area section -->

