
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "gallery home_version_03";
    ViewBag.BannerText = "Gallery";
}

<section class="events-grid-2">
	<div class="container">
		<div class="row event-body-content">
			<div class="col-sm-6 single-item">
				<div class="events-single-box">
					<div class="row">
						<div class="col-sm-12">
							<img src="../Assets/images/gallery/album-covers/album-cover-01.jpg" alt="" class="img-responsive">
						</div>
						
						<div class="col-sm-12">
							<div class="event-info">
								<h3>Basic UI & UX Design for new development</h3>
								<p class="events-time">
									<span>
										<i class="fa fa-calendar event-icon"></i>
										1st January
									</span>
									<span>
										<i class="fa fa-clock-o event-icon"></i>
										8:00am - 5:00pm
									</span>
									<span>
										<i class="fa fa-map-marker event-icon"></i>
										New York										
									</span>
								</p>

								<p>Lorem ipsum dolor sit amet mollis felis dapibus arcur donec viverra phasellus eget. Etiam maecenas vel vici quis.</p>
								
								<a class="event-btn" data-toggle="modal" href="#myModal">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
							</div>
						</div>
					</div>
				</div>	
			</div>

			<div class="col-sm-6 single-item">
				<div class="events-single-box">
					<div class="row">
						<div class="col-sm-12">
							<img src="../Assets/images/gallery/album-covers/album-cover-02.jpg" alt="" class="img-responsive">
						</div>
						
						<div class="col-sm-12">
							<div class="event-info">
								<h3>Discover something great to do on campus.</h3>
								<p class="events-time">
									<span>
										<i class="fa fa-calendar event-icon"></i>
										1st January
									</span>
									<span>
										<i class="fa fa-clock-o event-icon"></i>
										8:00am - 5:00pm
									</span>
									<span>
										<i class="fa fa-map-marker event-icon"></i>
										New York										
									</span>
								</p>

								<p>Lorem ipsum dolor sit amet mollis felis dapibus arcur donec viverra phasellus eget. Etiam maecenas vel vici quis.</p>

								<a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<div class="row event-body-content">
			<div class="col-sm-6 single-item">
				<div class="events-single-box">
					<div class="row">
						<div class="col-sm-12">
							<img src="../Assets/images/gallery/album-covers/album-cover-03.jpg" alt="" class="img-responsive">
						</div>
						
						<div class="col-sm-12">
							<div class="event-info">
								<h3>Language trainings: International record-keeping</h3>
								<p class="events-time">
									<span>
										<i class="fa fa-calendar event-icon"></i>
										1st January
									</span>
									<span>
										<i class="fa fa-clock-o event-icon"></i>
										8:00am - 5:00pm
									</span>
									<span>
										<i class="fa fa-map-marker event-icon"></i>
										New York										
									</span>
								</p>

								<p>Lorem ipsum dolor sit amet mollis felis dapibus arcur donec viverra phasellus eget. Etiam maecenas vel vici quis.</p>
								
								<a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
							</div>
						</div>
					</div>
				</div>	
			</div>

			<div class="col-sm-6 single-item">
				<div class="events-single-box">
					<div class="row">
						<div class="col-sm-12">
							<img src="../Assets/images/gallery/album-covers/album-cover-04.jpg" alt="" class="img-responsive">
						</div>
						
						<div class="col-sm-12">
							<div class="event-info">
								<h3>Digital Education Market Briefing: Minnesota 2015</h3>
								<p class="events-time">
									<span>
										<i class="fa fa-calendar event-icon"></i>
										1st January
									</span>
									<span>
										<i class="fa fa-clock-o event-icon"></i>
										8:00am - 5:00pm
									</span>
									<span>
										<i class="fa fa-map-marker event-icon"></i>
										New York										
									</span>
								</p>

								<p>Lorem ipsum dolor sit amet mollis felis dapibus arcur donec viverra phasellus eget. Etiam maecenas vel vici quis.</p>

								<a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<div class="row event-body-content">
			<div class="col-sm-6 single-item">
				<div class="events-single-box">
					<div class="row">
						<div class="col-sm-12">
							<img src="../Assets/images/gallery/album-covers/album-cover-05.jpg" alt="" class="img-responsive">
						</div>
						
						<div class="col-sm-12">
							<div class="event-info">
								<h3>Next-Gen Higher Education Students – Have They Arrived?</h3>
								<p class="events-time">
									<span>
										<i class="fa fa-calendar event-icon"></i>
										1st January
									</span>
									<span>
										<i class="fa fa-clock-o event-icon"></i>
										8:00am - 5:00pm
									</span>
									<span>
										<i class="fa fa-map-marker event-icon"></i>
										New York										
									</span>
								</p>

								<p>Lorem ipsum dolor sit amet mollis felis dapibus arcur donec viverra phasellus eget. Etiam maecenas vel vici quis.</p>
								
								<a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
							</div>
						</div>
					</div>
				</div>	
			</div>

			<div class="col-sm-6 single-item">
				<div class="events-single-box">
					<div class="row">
						<div class="col-sm-12">
							<img src="../Assets/images/gallery/album-covers/album-cover-06.jpg" alt="" class="img-responsive">
						</div>
						
						<div class="col-sm-12">
							<div class="event-info">
								<h3>Digital Education Market Briefing: Minnesota 2015</h3>
								<p class="events-time">
									<span>
										<i class="fa fa-calendar event-icon"></i>
										1st January
									</span>
									<span>
										<i class="fa fa-clock-o event-icon"></i>
										8:00am - 5:00pm
									</span>
									<span>
										<i class="fa fa-map-marker event-icon"></i>
										New York										
									</span>
								</p>

								<p>Lorem ipsum dolor sit amet mollis felis dapibus arcur donec viverra phasellus eget. Etiam maecenas vel vici quis.</p>

								<a class="event-btn" href="#">Read More<i class="fa fa-long-arrow-right events-btn-icon"></i></a>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="event-bottom-btn">
					<a href="#" class="view-more-item">view all events</a>
				</div>
			</div>
		</div>
	</div>
</section>