@section Section
{
    @Html.Partial("_MainSlider")

}

<section class="slider-content-bottom">
    <div class="container">
        <div class="row sider-btm-row-inner">
            <a href="/Home/AboutUs">
                <div class="col-sm-4 content_body slide_cont_box_01">
                    <div class="slider-btm-box btm-item_01">
                        <img src="../Assets/images/index/slide-bottom-01.png" alt="" class="btm-item-icon">
                        <h3>About us</h3>
                        <p>Who we are</p>
                    </div>
                </div>
            </a>
            <a href="#0">
                <div class="col-sm-4 content_body slide_cont_box_02">
                    <div class="slider-btm-box btm-item_02">
                        <img src="../Assets/images/index/slide-bottom-02.png" alt="" class="btm-item-icon">
                        <h3>Arrange a visit</h3>
                        <p>Come see us</p>
                    </div>
                </div>
            </a>
            <a href="/Home/Gallery">
                <div class="col-sm-4 content_body slide_cont_box_03">
                    <div class="slider-btm-box btm-item_03">
                        <img src="../Assets/images/index/slide-bottom-03.png" alt="" class="btm-item-icon">
                        <h3>Gallery</h3>
                        <p>Take a tour</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- Start Welcome Area section -->
<section class="Welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 Welcome-area-text">
                <div class="row">
                    <div class="col-sm-12 section-header-box">
                        <div class="section-header section-header-l">
                            <h2>readway international</h2>
                            <h5 style="text-align:right;margin-right: 48px;">college of education</h5>
                        </div><!-- ends: .section-header -->
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec nisi et. Ac penatibus aenean laoreet. Pede enim nunc ultricies quis rhoncus penatibus tincidunt integer felis quam neque ridiculus. Dapibus sit vel amet libero quisque Ante vel quis ultricies elit.</p>
                <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec nisi et. Ac penatibus aenean laoreet. Pede enim nunc ultricies.</p>
            </div><!-- Ends: . -->

            <div class="col-sm-6 welcome-img">
                <img src="../Assets/images/index/welcome.png" alt="" class="img-responsive">
            </div><!-- Ends: . -->
        </div>
    </div>
</section><!-- Ends: . -->
<!-- ./ End Welcome Area section -->
@Html.Partial("_JoinUsNow")
<!-- Start Video Area Section -->
<section class="video-main-area video">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 video-play-btn">
                <a href="https://youtu.be/25PG5BMvs58" class="video-iframe"><i class="fa fa-play"></i></a>
            </div>
            <div class="video-content">
                <h2>Video Of the Month</h2>
            </div><!-- ends: .section-header -->
        </div>
    </div>
</section>
<!-- ./ End Video Area section -->



@Html.Partial("_WhatParentsSay")

<section class="counter-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-0 counters">
                <div class="row">
                    <div class="col-sm-6 counters-item">
                        <div class="section counter-box">
                            <img src="../Assets/images/index/counter-icon-01.png" alt="">
                            <div class="project-count counter">600</div>
                            <span>ACTIVE STUDENTS</span>
                        </div>
                    </div>
                    <div class="col-sm-6 counters-item">
                        <div class="section counter-box">
                            <img src="../Assets/images/index/counter-icon-02.png" alt="">
                            <div class="project-count counter">50</div>
                            <span>CLASS ROOMS</span>
                        </div>
                    </div>
                    <div class="col-sm-6 counters-item">
                        <div class="section counter-box">
                            <img src="../Assets/images/index/counter-icon-03.png" alt="">
                            <div class="project-count counter">@(DateTime.Now.Year - 2011)</div>
                            <span>YEARS OF HISTORY</span>
                        </div>
                    </div>
                    <div class="col-sm-6 counters-item">
                        <div class="section counter-box">
                            <img src="../Assets/images/index/counter-icon-04.png" alt="">
                            <div class="project-count counter">40</div>
                            <span>TEACHERS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="instraction-area">
    <div class="container">
        <div class="row inspiration-full-box">
            <div class="col-md-9 section-header-l">
                <h2>JOIN OUR TEAM</h2>
                <p>Join our pool of proffesionals and get the best out of us. Click to see available Vacancies</p>
            </div>
            <div class="col-md-3">
                <div class="instraction-btn">
                    <a href="#" class="">get strated now</a>
                </div>
            </div>
        </div>
    </div>
</section>

